<main class="main">

  <section class="section">
    <h2>Directivas</h2>

    <p>Hay tres tipos de directivas en Angular:</p>

    <dl>
      <dt>Componentes:</dt>
      <dd>Son directivas co una plantillas de html.</dd>
      <dt>Estructurales:</dt>
      <dd>Cambian el DOM anadiendo o removiendo elementos.</dd>
      <dt>Atributo:</dt>
      <dd>Cambian la apariencia de un elemento del DOM.</dd>
    </dl>

    <p appHello color="yellow">Creamos nuestras propias directivas con ng g d</p>

  </section>

  <section>
    <ul>
      <li><input type="radio" (click)="colorSeleccionado='pink'" name="colorSeleccionado"> Rosa</li>
      <li><input type="radio" (click)="colorSeleccionado='orange'" name="colorSeleccionado"> Naranja</li>
      <li><input type="radio" (click)="colorSeleccionado='peru'" name="colorSeleccionado"> Peru</li>
    </ul>
    <p appSubrayar="red">Párrafo subrayar rojo</p>
    <p [appSubrayar]="'pink'">Párrafo subrayar rosa</p>
    <p [appSubrayar]="colorSeleccionado">Color seleccionado</p>
    <p>Elige color personalizado: <input type="color" [(ngModel)]="colorSeleccionado"></p>


  </section>

</main>
