//azul bordes rgb(0,123,255)

.erlantz-main {
    padding: 50px 50px 50px;
  }
  
  .erlantz-section {
    border: 5px solid rgb(0, 123, 255);
    padding: 30px;
    margin-bottom: 10px;
  }
  
  .erlantz-icon {
    font-size: 36px;
  }