<main class="pokemon-main">

  <section class="pokemon-section">

    <input type="text" [(ngModel)]="pokemonId">
    <button (click)="buscarRellenar(pokemonId)">Buscar</button>

  </section>

  <section *ngIf="pokemons.length > 0" class="pokemon-section">

    <div *ngFor="let p of pokemons">
      <h2>{{p.nombre | titlecase}}</h2>
      <p>Id pokedex: {{p.id}}</p>
      <p>
        <img src="{{p.imagen}}" alt="{{p.nombre}}" class="pokemon-imagen">
        <img src="{{p.imagen2}}" alt="{{p.nombre}}" class="pokemon-imagen">
      </p>
    </div>

  </section>

  <section class="pokemon-section">

    <h2>{{pokemon.nombre | titlecase}}</h2>
    <p>Id pokedex: {{pokemon.id}}</p>
    <p>
      <img src="{{pokemon.imagen}}" alt="{{pokemon.nombre}}" class="pokemon-imagen">
      <img src="{{pokemon.imagen2}}" alt="{{pokemon.nombre}}" class="pokemon-imagen">
    </p>

  </section>

  <section class="pokemon-section">

    <h2>{{pokemonPrueba.name | titlecase}}</h2>

    <img src="{{pokemonPrueba?.sprites?.front_default}}" alt="{{pokemonPrueba.name}}" class="pokemon-imagen">
    <hr>

    {{ pokemonPrueba | json }}

  </section>

</main>