//azul bordes rgb(0,123,255)

.pokemon-main {
  padding: 50px 50px 50px;
}

.pokemon-section {
  border: 5px solid rgb(0, 123, 255);
  padding: 30px;
  margin-bottom: 10px;
  overflow: auto;
}

.pokemon-icon {
  font-size: 36px;
}

.pokemon-imagen {
  min-width: 200px;
  max-width: 200px;
}

ul {
  list-style-type: none;
}
