<main class="pokemon-main">

  <section class="pokemon-section">

    <input type="text" [(ngModel)]="pokemonNombreBuscar">
    <button (click)="buscarRellenar(pokemonNombreBuscar)">Buscar</button>

    <div *ngIf="mensajeAlert" class="alert alert-danger mt-4" role="alert">
      {{mensajeAlert}}
    </div>

  </section>

  <div *ngIf="pokemons.length > 0">

    <section *ngFor="let p of pokemons" class="pokemon-section">

      <h2>{{p.nombre | titlecase}}</h2>
      <p>Id pokedex: {{p.id}}</p>
      <p>
        <img src="{{p.imagen}}" alt="{{p.nombre}}" class="pokemon-imagen">
        <img src="{{p.imagen2}}" alt="{{p.nombre}}" class="pokemon-imagen">
      </p>
      <p>
        <img src="{{p.imagen3}}" alt="{{p.nombre}}" class="pokemon-imagen">
        <img src="{{p.imagen4}}" alt="{{p.nombre}}" class="pokemon-imagen">
      </p>
      <p>Habilidades</p>
      <ul>
        <li *ngFor="let a of p.abilitiesDetalle">
          <h4>{{a.nombre | titlecase}}:</h4>
          <p>{{a.descripcion}}</p>
        </li>
      </ul>

    </section>

  </div>

  <section class="pokemon-section">

    <h2>{{pokemon.nombre | titlecase}}</h2>
    <p>Id pokedex: {{pokemon.id}}</p>
    <p>
      <img src="{{pokemon.imagen}}" alt="{{pokemon.nombre}}" class="pokemon-imagen">
      <img src="{{pokemon.imagen2}}" alt="{{pokemon.nombre}}" class="pokemon-imagen">
    </p>

  </section>

  <section class="pokemon-section">

    <h2>{{pokemonPrueba.name | titlecase}}</h2>

    <img src="{{pokemonPrueba?.sprites?.front_default}}" alt="{{pokemonPrueba.name}}" class="pokemon-imagen">
    <hr>

    {{ pokemonPrueba | json }}

  </section>

</main>
