<main class="login-main">

  <section class="login-section">



  </section>

  <section class="login-section">
    <button class="mr-3" (click)="contarClicks()">click</button>{{numeroClicks}}
  </section>

  <section class="login-section">

    <p>{{productos.nombre | uppercase}}:</p>

    <div *ngIf="pSeleccionado !== ''">

      <p>producto seleccionado:</p>
      <div class="pl-4 pb-2"><i class="login-icon {{pSeleccionado.icono}}"></i></div>
      <ul>
        <li>nombre: {{pSeleccionado.nombre}}</li>
        <li>categoria: {{pSeleccionado.categoria.nombre}}
          <span
            class="badge badge-{{(pSeleccionado.electrico)?'success':'danger'}} px-2 py-1 ml-2">{{(pSeleccionado.electrico)?'eléctrico':'gasolina'}}</span>
        </li>
      </ul>

    </div>

    <ul class="login-lista list-group">
      <li *ngFor="let p of productos.lista" (click)="seleccionarProducto(p)"
        class="list-group-item {{ (p.id==pSeleccionado.id) ? 'active' : '' }}">
        {{p.id}} | {{p.nombre}}
      </li>
    </ul>

  </section>

  <section class="login-section">

    <h2 class="text-center"><a routerLink="/lobby">LOGIN</a></h2>

  </section>

</main>
