// rgb(0,123,255)
.login-navbar {
  padding: 20px;
}

.login-main {
  padding: 50px 50px 50px;
}

.login-section {
  border: 5px solid rgb(0, 123, 255);
  padding: 30px;
  margin-bottom: 10px;
}

.login-icon {
  font-size: 36px;
}
