<div class="contenedor">
  <main>
    <section>
      <h2>Tareas</h2>
      <p>Ejemplo de Provider o Servicio para hacer un CRUD completo, contra un servicio REST</p>

      <div *ngIf="alerta" class="alert alert-{{alerta.tipo}} alert-dismissible" role="alert">
        {{alerta.cuerpo}}
      </div>

      <ul>

        <li *ngFor="let t of tareas">
          <div class="form-inline">

            <div class="form-check mb-2 mr-sm-2">
              <input class="form-check-input" type="checkbox" (click)="onUpdate(t)" [(ngModel)]="t.completada">
            </div>

            <span class="{{(t.completada) ? 'completada' : ''}} form-control mb-2 mr-sm-2">{{t.titulo}}</span>

            <button class="btn btn-light mb-2" (click)="onBorrar(t)"><span class="fas fa-trash"></span></button>
          </div>
        </li>

      </ul>

    </section>

    <section>
      <h2>Nueva tarea</h2>
      <div class="form-inline">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Introducir tarea" [(ngModel)]="tituloTarea">

        <button class="btn btn-primary mb-2" (click)="onCrear(tituloTarea)">Crear</button>
      </div>

    </section>

  </main>
</div>
