<main>
  <section>
    <h2>Tareas</h2>
    <p>Ejemplo de Provider o Servicio para hacer un CRUD completo, contra un servicio REST</p>

    <ul>

      <li *ngFor="let t of tareas">
        <div class="form-inline">
          <span class="{{(t.completada) ? 'completada' : ''}} form-control mb-2 mr-sm-2">{{t.titulo}}</span>

          <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" () [(ngModel)]="t.completada">
          </div>

          <button class="btn btn-danger mb-2" (click)="onBorrar()">Borrar</button>
        </div>
      </li>

    </ul>

  </section>

  <section>
    <h2>Nueva tarea</h2>
    <div class="form-inline">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Introducir tarea">

      <button class="btn btn-primary mb-2" (click)="onCrear()">Crear</button>
    </div>

  </section>

</main>
