.contenedor {
  background-image: url(../../../assets/img/coffe-tasks.jpg);
  background-repeat: repeat-y;
  background-size: 100%;

  padding: 60px;
}

main {

  background-color: rgb(255, 255, 255, 0.8);
  max-width: 800px;
  margin: auto;
  padding: 30px;
}

.completada {
  text-decoration: line-through;
}

.nueva-tarea {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

hr {
  height: 6px;

}
